h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary);
    text-align: center;
}

.holder{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
  
.navbar {
  background-color: var(--sheet);
  display: flex;
  gap: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navholder{
  gap: 3rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
  
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
  
.navbar li {
  margin: 0;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
  
.navbar a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: var(--radii-circle);
  color: var(--white);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
  
.navbar a:hover {
  background-color: darken(var(--accent), 10%);
  transform: translateY(-2px);
}
  
.navbar a:active {
  transform: translateY(0);
}
  
.navbar a.active {
  background-color: var(--primary);
  color: var(--white);
}
  
.navbar a .icon {
  margin-right: 10px;
}  

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--sheet);
  border-radius: var(--radii-extra);
  box-shadow: var(--shadow-card);
}
  
input, select, button {
  width: calc(100% - 20px);
  margin: 10px;
  padding: 10px;
  border-radius: var(--radii-default);
  border: 1px solid var(--border);
  box-shadow: var(--shadow-small);
}
  
button {
  background-color: var(--primary);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
  
button:hover {
  background-color: darken(var(--primary), 10%);
  transform: translateY(-2px);
}
  
button:active {
  transform: translateY(0);
}
  
  